<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ti.airmovil.mabe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_mabe"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_mabe"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.ReporteadorActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activities.DetalleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.FiltroActivity" />
        <activity
            android:name=".Activities.ReporteActivity"
            android:label="@string/title_activity_reporte"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Reporte_2"
            android:label="@string/title_activity_reporte_2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ReporteProductosActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>